<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movieproject.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="HeticStore"
        android:theme="@android:style/Theme.Light.NoTitleBar" >

        <activity
            android:name="com.example.movieproject.app.MainActivity"
            android:label="HeticStore" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailMovie"></activity>
        <activity android:name=".AddMovie"></activity>
    </application>
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
